/* Ensure all elements are sized based on their border-box */
* {
    box-sizing: border-box;
}

/* Reset margin and padding for body */
body {
    margin: 0;
    padding: 0;
    height: max-content; 

}

/* Style for the container */
.Reg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; /* Ensure it fills the entire viewport */
}

/* Style for the form */
form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items within the form */
    padding: 20px;
    
    border-radius: 10px;
}

/* Button and input styling */
.btn1{
    background-color: rgb(21, 98, 205);
    color: white;
    width: 200px;
    margin: 2px;
    height: 30px;
    padding: 2px;
    border:1px black solid;
    
}
.btn1:hover {
    background-color: rgb(45, 45, 218);
}
.ggl:hover {
    background-color: rgb(45, 45, 218);
}
.lout{
    width: 120px;
}
.btn{
    border:none;
    color: blue;
    background-color: white;
    text-decoration: underline;
}
nav{
    display: flex;
    justify-content:space-evenly;
    height: 40px;
    align-items: center;
    width: 100%;
}
.text{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.con{
    width: max-content;
    border: none;
    background-color: blue;
    color: white;
    height: max-content;
    font-size: 0.9rem;
}
img{
    height: 400px;
    width: 400px;
    margin: 20px;
}
.content{
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.camp{
    display: flex;
    justify-self:flex-start;
}
.con:hover{
    transform: scale(1.08);
}
nav{
    background-color: blue;
}
.guide{
    margin-right: 100px;
}
.link{
    color: rgb(13, 13, 200);
}  
.text p{
    font-size: 1.2rem;
    margin-bottom: 100px;
}
.text-container{
    background-color: beige;
    display: flex;
    justify-content: center;
    
}
.mid-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer {
    background-color: gray; /* Example background color */
    text-align: center;
    padding: 10px; 
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer p{
    color: white;
}
.create-camp-btn{
    width: 200px;
    padding: 3px;
   align-self: center;
   margin-top: 50px;
  
   border-radius: 4px;
}
.ggl{
    width: 200px;
    height:30px;
    border: 1px solid black;
    text-decoration: none;
    font-size: 0.9rem;
    background-color: rgb(21, 98, 205);
    color: white;
}
.large-textarea{
    width: 600px;
    height: 350px;
    padding: 10px;
}
.create-campaign form{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
.form-group input{
    border-radius: 4px;
    width: 400px;
    height: 40px;
    
}
.create-campaign h2{
    display: flex;
    align-self: center;
    margin-left: 20%;
}
.form-body{
    background-color: beige;
    
    width: 100vw;
    display: flex;
    height: 100%;
    
    justify-content: center;
}

.form-body2{

    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.campaign-details strong{
    font-size:1.2rem;
}
.campaign-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
}
.campaign-details .pay {
    margin-top: 50px;
    width: 200px;
    padding: 7px;
    border-radius: 2px;
    height: 50px;
    font-size: 1.2rem;
}
.description{
    font-size: 1.2rem;
}


.c-title{
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.campaign-form form{
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}
.campaign-form input{
    margin: 7px;
}
.campaign-form{
    height: 85vh;
    background-color: beige;
    width: 100vw;
    display: flex;
    justify-content: center;
    
}
.campaign-form button{
    width: 70px;
}

input {
    width: 200px;
    margin: 2px;
    height: 30px;
    padding: 2px;
    border:1px black solid;
    padding-left: 20px;
}
.lab{
    font-size: 1.2rem;
}